.bienvenida {
  padding: 2rem 0;
  background: #191919 ;
  color: #f4f4f4;
}

.informacion{
  color: #333;
}

.about{
  padding: 2rem 0;
  background: #013773 ;
  color: #f4f4f4;
  position: relative;
  top: 1px;
}

.grid-2 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}


.title {
  font-size: 2.5rem;
  margin: 20px 10px;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 3rem 1rem;
}
.container:nth-child(2) {
  align-items: center;
}


.text-center {
  text-align: center;
  margin: auto;
}


.justify{
  text-align: justify;
}

.center{
  margin: 0 auto;
}


.bienvenida-div__img img{
  width: 92%;
  height: auto;
  border-radius: 7px;
}

@supports(object-fit: cover){
    .bienvenida-div__img img{
      height: 92%;
      object-fit: cover;
      object-position: center center;
    }
}


/* RESPONSIVE */
@media screen and (max-width: 565px) {
  
  .grid-2 {
    grid-template-columns: 1fr;
  }

  .bienvenida div:first-child {
    padding: 1.4rem 1rem;
  }

}


