.navbar{
	width: 100%;
	height: 65px;
	background: #00396f;
}


#logo img{
	margin-top: 5px;
	margin-left: 10px;
	width: 115px;
}

.navbar__responsive{
	float: right;
	margin-top: 25px;
}

.navbar__responsive ul{
	margin-right: 7px;
}


.navbar__responsive ul li{
	display: inline;
}

.navbar__responsive ul li a{
	padding: 15px;
	font-size: 16px;
}

.navbar__responsive ul li a:hover{
	transition: .8s;
	color: #c8a00a;
}

.responsivebtn{
	background: none;
	border: none;
	float: right;
	display: none;
	margin-top: 5px;
	margin-right: 10px;
	padding: 4px 7px;
	cursor: pointer;
}

.responsivebtn img{
	width: 45px;
	height: 45px;
	vertical-align: middle;
}

@media screen and (max-width: 740px){
	.navbar__responsive{
		margin-top: -1px;
		width: 100%;
		height: auto;
		background: #009cdd;
		border-top: 3px solid #c8a03f;
		border-bottom: 3px solid #c8a03f;
		text-align: center;
		display: none;
	}

	.navbar__responsive ul li{
		display: block;
		padding: 10px;
	}

	.navbar__responsive ul li a{
		display: block;
		padding: 0;
		/*animation-name: lyrics;
		animation-duration: 2s;
		animation-iteration-count: infinite;
		animation-delay: .5s;
		animation-timing-function: ease-in-out;*/
	}

	.responsivebtn{
		display: block;
	}

	
}

@media screen and (min-width: 741px){
	.navbar__responsive{
		display: block !important
	}
}

/*@keyframes lyrics{
	0%{
		color: #fff;
	}
	50%{
		color: #c8a03f
	}
	100%{
		color: #fff;
	}
}*/