.navbar{
	display: flex;
	width: 100%;
	height: 65px;
	background: var(--azul);
	justify-content: space-between;
	align-items: center;
}


#logo img{
	margin-top: 5px;
	width: 115px;
}

.navbar__responsive{
	float: right;
	margin-top: 5px;
}
.navbar__responsive ul li a:hover{
	transition: all 100ms;
	border-bottom: 2px solid var(--casi-blanco);
}

.navbar__responsive ul{
	list-style: none;
}


.navbar__responsive ul li{
	display: inline;
	padding: 15px;
}

.navbar__responsive ul li a{
	font-size: 16px;
	padding-bottom: 3px;
}




@media screen and (max-width: 740px){
	.navbar{
		justify-content: center;
	}

	.navbar__responsive{
		display: none;
	}


}


/*@keyframes lyrics{
	0%{
		color: #fff;
	}
	50%{
		color: #c8a03f
	}
	100%{
		color: #fff;
	}
}*/