.video-container{
	width: 100%;
  height: calc(100vh - 65px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  color: var(--casi-blanco);
  
}

.video-h1{
  position: fixed;
  top: 50%;
  font-weight: 600;
	font-size: 60px;
  transition: transform 800ms ease-in-out;
  transform-origin: bottom center;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  filter: brightness(40%);
}


.scrollDown {
  position: fixed;
  bottom: 1em;
  transition: transform 500ms ease;
  transform-origin: bottom center;
}

.scrollDown > a > svg{
  color: var(--casi-blanco);
  width: 3.5em;
  animation: upDown 1.5s linear infinite;
}

@keyframes upDown{
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(.5em);
  }
  100%{
    transform: translateY(0);
  }

}
