.footer{
	width: 100%;
	background: url(../img/footer.png);
	background-position: center;
	color: #fff;
	text-align: center;
	bottom: 0;
	left: 0;
	padding: 10px 20px;
}

.footer h3{
	margin: 8px;
}
.footer p:nth-child(2){
	margin-top: 25px;
}
.footer p:nth-child(3){
	margin-top: 50px;
	margin-bottom: 10px;
}

.img__container{
	display: flex;
	justify-content: center;
	
}

.img__container a img{
	margin: 10px 25px;
}


.img__container a:hover img{
	transition: all 0.73s ease-in-out;
}

.img__container a:hover img{
	cursor: pointer;
	transform: rotate(360deg);
}

@media screen and (max-width: 383px){
	.img__container{
		flex-direction: column;
	}
	.img__container a:hover img{
		transition: none;
	}

	.img__container a:hover img{
		transform: none;
	}

}